@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Fredoka+One|Gochi+Hand|Knewave|Pacifico&display=swap');

/* font-family: 'Dosis', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Knewave', cursive; */

.happy {
  background-color: yellow;
}
.energetic {
  background-color: pink;
}
.grumpy {
  background-color: red;
}
.average {
  background-color: green;
}
.anxious {
  background-color: blue;
}
.annoyed {
  background-color: purple;
}
.sad {
  background-color: darkblue;
}
.depressed {
  background-color: darkgrey;
}
.sick {
  background-color: grey;
}
