@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Fredoka+One|Gochi+Hand|Knewave|Pacifico&display=swap');

/* font-family: 'Dosis', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Knewave', cursive; */
